.section {
    border-inline: .2px solid rgb(206, 206, 206);
    max-width: 1350px;
    margin: 0 auto;
    min-height: calc(100vh - 139.5938px);
    background-color: #F7F6BB;
    color: rgba(32, 85, 72, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section p {
    color: rgba(32, 85, 72, .6);
}

.burgerDetails {
    width: 600px;
    display: flex;
    gap: 1rem;
    background-color: #FCDC2A;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.image {
    width: 100px;
    height: 100px;
}

.details {
    line-height: 1.8;
}

.details p:first-child,
.details p:last-child {
    color: rgba(32, 85, 72, 1);
    font-size: 1rem;
    font-weight: 600;
}

.sideDrinks {
    width: 500px;
    display: flex;
    gap: 1rem;
    background-color: #FCDC2A;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.sideDrinks .image {
    width: 70px;
    height: 70px;
}

.plus {
    color: green;
    font-size: 1.4rem;
}

@media screen and (width<=600px) {
    .burgerDetails {
        width: 300px;
        flex-direction: column;
        padding: 1rem
    }

    .sideDrinks {
        width: 300px;
        font-size: .9rem;
        padding: 1rem;
    }

    .sideDrinks .image {
        width: 50px;
        height: 50px;
    }

    .sideDrinks div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .plus {
        font-size: 1.5rem;
    }
}