.footer {
    background-color: #87A922;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    color: #F7F6BB;
    max-width: 1350px;
    margin: 0 auto;
}

@media screen and (width<600px) {
    .footer {
        font-size: .8rem;
    }

}