.section_1 {
    color: #114232;

}

.section_1 h1 {
    padding: 0 0 .7rem 0;
}

.section_1 p {
    color: rgba(32, 85, 72, .7);
}

.section_1 .div_1 {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0 1rem 0;

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 4rem 0;
    padding: 2rem 7rem;
}

.card {
    justify-items: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FCDC2A;
    transition: all .3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .image {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.card>div {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.card>div>div>h2 {
    font-size: 1.2rem;
}

.card>div>button {
    padding: .5rem 1rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 20px;
    background-color: #114232;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.card>div>button:hover {
    box-shadow: 1px 2px 5px rgb(179, 179, 5);
}

@media screen and (width<768px) {
    .cards {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .card {
        max-width: 300px;
    }

    .card .image {
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (width<600px) {

    .section_1 h1 {
        font-size: 1.2rem;
    }

    .section_1 .div_1 {
        max-width: 250px;

        margin: 0 auto;
        padding: 2rem 0 1rem 0;

    }

    .section_1 p {
        font-size: .9rem;
    }

    .cards {
        grid-template-rows: repeat(4, 300px);
        gap: 2rem 1rem;
        padding: 2rem;
    }

    .card>div>div>h2 {
        font-size: .6rem;
    }

    .card .image {
        height: 200px;
    }

    .card>div {
        padding: 1rem 1rem;
    }

    .card>div>div>h2 {
        font-size: 1rem;
    }

    .card>div>div>p {
        font-size: 14px;
    }

    .card>div>button {
        font-weight: 500;
    }

    .card>div>button {
        padding: .4rem .7rem;
        letter-spacing: 0;
    }


}