.form {
    max-width: 500px;
    height: fit-content;
    background-color: #87A922;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 1px 1px 10px green;
}

.form h2 {
    font-size: 1.2rem;
    color: #114232;
    align-self: start;
    padding: 0 1rem;
}

.form div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form div label {
    color: #fff;
}

.form div input {
    padding: .5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #114232;
}

.form button {
    padding: .5rem 1rem;
    background-color: #114232;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form span {
    color: #fff;
    align-self: start;
    background-color: red;
    border-radius: 5px;
    padding: .4rem 1rem;
}

.form p {
    color: #fff;
    font-size: 1rem;
}

@media screen and (width<=600px) {
    .form {
        max-width: 350px;
        padding: 1rem;
        border-radius: 10px;
        gap: 1rem;
    }

    .form div input {
        padding: .5rem;
        font-size: .9rem;
        border: none;
        outline: none;
        border-radius: 5px;
        color: #114232;
    }
}